.header{
    width: 100%;
    height: 50px;
    background-color: cadetblue;
    display: flex;
    justify-content: space-between;
    align-items:center;
    color: aliceblue;
    position: fixed;
    padding: 1.5rem;
}

.link{
    color :aliceblue;
    text-decoration: none;
}


