.sidebar{
    background-color: cadetblue;
    height: 100vh;
    width: 80vw;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}

.menus{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40vh;
}